<ul class="menu">
                            <li>
                                <a href="home-1.html">
                                    <span class="text">Home</span>
                                    <i class="ti-angle-right hidden-lg-up"></i>
                                </a>
                            </li>
                            <li class="el-megamenu">
                                <a href="#">
                                    <span class="text">Fruits</span>
                                    <i class="ti-angle-down hidden-lg-up"></i>
                                </a>
                                <div class="el-megamenu-box">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                                            <ul class="el-list">
                                                <li class="title">Fresh Fruits</li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Bananas</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Apples & Pears</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Berries & Cherries</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Oranges & Citrus Fruit</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Grapes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Grapes</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                                            <ul class="el-list">
                                                <li class="title">Fresh Fruits</li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Bananas</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Apples & Pears</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Berries & Cherries</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Oranges & Citrus Fruit</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Grapes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Grapes</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                                            <ul class="el-list">
                                                <li class="title">Fresh Fruits</li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Bananas</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Apples & Pears</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Berries & Cherries</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Oranges & Citrus Fruit</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Grapes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Grapes</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12  col-sm-12 col-md-12 col-lg-3">
                                            <div class="megamenu-image-1 pt-100pe overlay-image" style="background-image: url(assets/images/other/megamenu-1-1.jpg);"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="el-megamenu">
                                <a href="#">
                                    <span class="text">Vegetables</span>
                                    <i class="ti-angle-down hidden-lg-up"></i>
                                </a>
                                <div class="el-megamenu-box">
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                                            <ul class="el-list">
                                                <li class="title">Fresh Vegetables</li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Onions & Leeks</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Cabbages & Greens</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Carrots & Root Vegetables</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Potatoes & Sweet Potatoes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Broccoli & Cauliflower</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Potatoes & Sweet Potatoes</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                                            <ul class="el-list">
                                                <li class="title">Special Vegetables</li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Onions & Leeks</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Carrots & Root Vegetables</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Potatoes & Sweet Potatoes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Cabbages & Greens</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Broccoli & Cauliflower</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Broccoli & Cauliflower</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                                            <ul class="el-list">
                                                <li class="title">Fresh Vegetables</li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Onions & Leeks</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Cabbages & Greens</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Carrots & Root Vegetables</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Potatoes & Sweet Potatoes</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Broccoli & Cauliflower</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#">
                                                        <span class="text">Broccoli & Cauliflower</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-12  col-sm-12 col-md-12 col-lg-3">
                                            <div class="megamenu-image-1 pt-100pe overlay-image" style="background-image: url(assets/images/other/megamenu-1-2.jpg);"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="el-dropdown el-dropdown-1">
                                <a href="#">
                                    <span class="text">Pages</span>
                                    <i class="ti-angle-down hidden-lg-up"></i>
                                </a>
                                <ul class="el-dropdown-box">
                                    
                                </ul>
                            </li>
                            <li>
                                <a href="shop-special-1.html">
                                    <span class="text">Best Sales</span>
                                    <i class="ti-angle-right hidden-lg-up"></i>
                                </a>
                            </li>
                        </ul>