/*------------------------------------
    Header
------------------------------------*/
$header-1: 84px;

.app-header {
    width: 100%;
    display: block;
    z-index: 999;
    position: relative;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
        }
    }

    &.app-header-1 {
        top: 30px;
        position: absolute;
        .header-wrap {
            height: $header-1;
            position: relative;
            box-shadow: $default-bs;
            background-color: $base-0;
            .header-logo {
                float: left;
                font-size: 21px;
                font-weight: 900;
                padding-left: 36px;
                padding-right: 18px;
                line-height: $header-1 + 4px;
            }
            .header-links {
                top: 0;
                right: 0;
                position: absolute;
                padding: 28px 36px;
                .button {
                    margin-left: 15px;
                }
            }
        }
    }
}