    <!--Sidenav-->
    <div class="app-sidenav app-sidenav-1">
        <div class="sidenav-menu">
            <div class="sidenav-head">
                <span class="title">ORWELL</span>
                <button class="button button-close-sidenav"></button>
            </div>
            <div class="sidenav-body">
                <div class="sidenav-body-inner">
                    ${require('../menu/_1.html')}
                </div>
            </div>
        </div>
        <span class="sidenav-close"></span>
    </div>
    <!--/-->