    <!--Shopping Cart-->
    <div class="app-shopping-cart app-shopping-cart-1">
        <div class="sidenav-menu">
            <div class="sidenav-head">
                <span class="title">Your Cart</span>
                <button class="button button-close-sidenav"></button>
            </div>
            <div class="sidenav-body">
                <div class="sidenav-body-inner">
                    <ul class="items">
                        <li>
                            <div class="row row-sm">
                                <div class="col-4">
                                    <div class="image">
                                        <img src="assets/images/products/2-3.jpg" alt="--Alt--">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="details">
                                        <p>Fresh and sugar orange cantaloupe</p>
                                        <span class="price">$30.00</span>
                                        <span class="quantity">x 2</span>
                                        <ul class="actions">
                                            <li>
                                                <a href="#" title="Remove">
                                                    <i class="ti-trash"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row row-sm">
                                <div class="col-4">
                                    <div class="image">
                                        <img src="assets/images/products/2-2.jpg" alt="--Alt--">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="details">
                                        <p>Australian fresh and organic avocado</p>
                                        <span class="price">$54.33</span>
                                        <ul class="actions">
                                            <li>
                                                <a href="#" title="Remove">
                                                    <i class="ti-trash"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row row-sm">
                                <div class="col-4">
                                    <div class="image">
                                        <img src="assets/images/products/3-2.jpg" alt="--Alt--">
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="details">
                                        <p>Mexican special black bean salad</p>
                                        <span class="price">$66.00</span>
                                        <ul class="actions">
                                            <li>
                                                <a href="#" title="Remove">
                                                    <i class="ti-trash"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="sidenav-down">
                <div class="subtotal">
                    <div class="row">
                        <div class="col-6">
                            <span class="title">Subtotal</span>
                        </div>
                        <div class="col-6 text-right">
                            <span class="price">$240.33</span>
                        </div>
                    </div>
                </div>
                <div class="checkout">
                    <button type="button" class="button button-lg button-block button-dark">
                        <span class="text">Checkout Now</span>
                    </button>
                </div>
            </div>
        </div>
        <span class="sidenav-close"></span>
    </div>
    <!--/-->