<!--Sidenav-->
<div class="app-sidenav app-sidenav-1">
    <div class="sidenav-menu">
        <div class="sidenav-head">
            <img src="assets/images/sidenav.jpg" alt="sidenav banner">
            <button class="button button-close-sidenav"></button>
        </div>
        <div class="sidenav-body">
            <div class="sidenav-body-inner">
                <div class="sidenav-links">
                    <a href="sign-up.html" class="button button-md button-block button-line-primary">
                        <span class="text">ثبت نام در سایت</span>
                    </a>
                    <a href="sign-in.html" class="button button-md button-block button-primary">
                        <span class="text">درج آگهی رایگان</span>
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="index.html">
                            <span class="text">برگ نخست</span>
                        </a>
                    </li>
                    <li>
                        <a href="search.html">
                            <span class="text">همه آگهی ها</span>
                        </a>
                    </li>
                    <li>
                        <a href="page-faq.html">
                            <span class="text">سوالات متداول</span>
                        </a>
                    </li>
                    <li>
                        <a href="page-how-it-works.html">
                            <span class="text">چطور کار می کند؟</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span class="sidenav-close"></span>
</div>
<!--/-->