    <!--Sidenav-->
    <div class="app-sidenav app-sidenav-1">
        <div class="sidenav-menu">
            <div class="sidenav-head">
                <button class="button button-close-sidenav"></button>
            </div>
            <div class="sidenav-body">
                <div class="sidenav-body-inner">
                    <ul>
                        <li>
                            <a href="home.html">
                                <span class="text">Home</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <span class="sidenav-close"></span>
    </div>
    <!--/-->