:root {
    --base: #fff;
    --base-0: #fff;
    --base-1: #000;
    --primary: #0b7554;
    --primary-1: #339266;
    --primary-2: #ef394e;
    --primary-3: #ef394e;
    --secondary: #ef394e;
    --secondary-1: #ef394e;
}
