:root {
    --base: #f7f7f7;
    --base-0: #fff;
    --base-1: #000;
    --primary: orange;
    --primary-1: #ef394e;
    --primary-2: #ef394e;
    --primary-3: #ef394e;
    --secondary: #ef394e;
    --secondary-1: #ef394e;
}
