:root {
    --base-0: #050607;
    --base-1: #f1f1f1;
    --primary: #0b7554;
    --primary-1: #339266;
    --primary-2: #339266;
    --primary-3: #339266;
    --secondary: #ef394e;
    --secondary-1: #ef394e;
}
