:root {
    --base: #f7f7f7;
    --base-0: #fff;
    --base-1: #000;
    --primary: #1d3268;
    --primary-1: #3e1d68;
    --primary-2: #3e1d68;
    --primary-3: #3e1d68;
    --secondary: #C13B95;
    --secondary-1: #9c3078;
}
