:root {
    --base: #f7f7f7;
    --base-0: #fff;
    --base-1: #000;
    --primary: #2775FF;
    --primary-1: #1c55ba;
    --primary-2: #1c55ba;
    --primary-3: #1c55ba;
    --secondary:  #C13B95;
    --secondary-1: #9c3078;
}
