:root {
    --base: #fff;
    --base-0: #fff;
    --base-1: #000;
    --primary: #33b5e5;
    --primary-1: rgb(158, 221, 241);
    --primary-2: #ef394e;
    --primary-3: #ef394e;
    --secondary: #ef394e;
    --secondary-1: #ef394e;
}
