/*------------------------------------
    Grid
------------------------------------*/

.row-0 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.row-xs {
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: -12px;
    & > * {
        padding-left: 6px;
        padding-right: 6px;
        margin-bottom: 12px;
    }
}
.row-sm {
    margin-left: -9px;
    margin-right: -9px;
    margin-bottom: -18px;
    & > * {
        padding-left: 9px;
        padding-right: 9px;
        margin-bottom: 18px;
    }
}
.row-md {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -24px;
    & > * {
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 24px;
    }
}
.row-lg {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
    & > * {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .row-xl-5 {
        & > * {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .row-lg-5 {
        & > * {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .row-md-5 {
        & > * {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .row-sm-5 {
        & > * {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

@media (max-width: 576px) {
    .row-xs-5 {
        & > * {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

/*------------------------------------
    Spacing
------------------------------------*/

.pt-space {
    padding-top: $space;
}
.pb-space {
    padding-bottom: $space;
}
.mt-space {
    margin-top: $space;
}
.mb-space {
    margin-bottom: $space;
}
.pt-space-half {
    padding-top: $space / 2;
}
.pb-space-half {
    padding-bottom: $space / 2;
}
.mt-space-half {
    margin-top: $space / 2;
}
.mb-space-half {
    margin-bottom: $space / 2;
}
@each $i in (5, 10, 15, 20, 25, 30, 35, 40, 45, 50) {
    .pt-#{$i} {
        padding-top: unquote( ($i) + 'px' );
    }
    .pb-#{$i} {
        padding-bottom: unquote( ($i) + 'px' );
    }
    .mt-#{$i} {
        margin-top: unquote( ($i) + 'px' );
    }
    .mb-#{$i} {
        margin-bottom: unquote( ($i) + 'px' );
    }
}