${require('./_html.html') base="" href="custom" skin="4"}
    <!--Header-->
    <header class="app-header app-header-4 ${props.class}">
        <div class="container">
            <div class="header-wrap">
                <button class="button button-menu button-open-sidenav">
                    <span></span>
                </button>
                <div class="header-logo">
                    <a href="home.html">
                        <span class="text">OR</span><span class="text">WELL</span>
                    </a>
                </div>
                ${require('./_menu.html')}
                <div class="header-links">
                    <a href="#" class="button button-icon">
                        <img class="icon" src="assets/images/icons/user.svg" alt="--Alternative--"/>
                        <span class="text">Register</span>
                    </a>
                    <!-- <a href="#" class="button button-icon">
                        <img class="icon" src="assets/images/icons/search.svg" alt="--Alternative--"/>
                        <span class="text">Search</span>
                    </a> -->
                    <a href="#" class="button button-icon button-icon-cart">
                        <img class="icon" src="assets/images/icons/shopping-cart.svg" alt="--Alternative--"/>
                        <span class="count">3</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--/-->