<div class="el-menu">
                    <ul>
                        <li>
                            <a href="home.html">
                                <span class="text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="text">Fruits</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="text">Salads</span>
                            </a>
                        </li>
                        <li>
                            <a href="home.html">
                                <span class="text">Pages</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="text">Products</span>
                            </a>
                        </li>
                    </ul>
                </div>