    <!--Sidebar-->
    <div class="${props.parentClass}">
        <aside class="app-sidebar ${props.childrenClass}" id="sidebar-filter-products">
            <div class="sidebar-head">
                <span class="title">Filter</span>
                <button class="button button-close-sidenav"></button>
            </div>
            <!--Widget-->
            <div class="widget widget-colors">
                <div class="widget-head">
                    <h3>Product Categories</h3>
                    <span class="line"></span>
                </div>
                <div class="widget-body">
                    <ul class="el-list el-list-1">
                        <li>
                            <a href="#">Vegetables (15)</a>
                        </li>
                        <li>
                            <a href="#">Fresh Fruits (12)</a>
                        </li>
                        <li>
                            <a href="#">Fresh Meat (12)</a>
                        </li>
                        <li>
                            <a href="#">Milk &amp; Cream (9)</a>
                        </li>
                        <li>
                            <a href="#">Uncategorized (7)</a>
                        </li>
                        <li>
                            <a href="#">Organic Fruits (6)</a>
                        </li>
                        <li>
                            <a href="#">Special Salads (3)</a>
                        </li>
                        <li>
                            <a href="#">Supplements (0)</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/-->
            <!--Widget-->
            <div class="widget widget-colors">
                <div class="widget-head">
                    <h3>Product Brands</h3>
                    <span class="line"></span>
                </div>
                <div class="widget-body">
                    <ul class="el-list el-list-1">
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">Green Life (24)</span>
                            </label>
                        </li>
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">Organic Life (22)</span>
                            </label>
                        </li>
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">Whole Foods (21)</span>
                            </label>
                        </li>
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">Orwell Company (14)</span>
                            </label>
                        </li>
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">Organica (6)</span>
                            </label>
                        </li>
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">Other (3)</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/-->
            <!--Widget-->
            <div class="widget widget-colors">
                <div class="widget-head">
                    <h3>Filter By Price</h3>
                    <span class="line"></span>
                </div>
                <div class="widget-body">
                    <ul class="el-list el-list-1">
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">$0 - $30</span>
                            </label>
                        </li>
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">$30 - $60</span>
                            </label>
                        </li>
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">$60 - $100</span>
                            </label>
                        </li>
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">$100 - $150</span>
                            </label>
                        </li>
                        <li>
                            <label class="input-checkbox">
                                <input type="checkbox">
                                <span class="checkbox-mark"></span>
                                <span class="checkbox-label">$150 - $200</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/-->
            <!--Widget-->
            <div class="widget widget-colors">
                <div class="widget-head">
                    <h3>Filter By Colors</h3>
                    <span class="line"></span>
                </div>
                <div class="widget-body">
                    <ul class="el-select-color">
                        <li>
                            <input type="radio" name="color" id="red">
                            <label for="red" style="background-color:red"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#db7093">
                            <label for="#db7093" style="background-color:#db7093"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#cd5c5c">
                            <label for="#cd5c5c" style="background-color:#cd5c5c"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="orange">
                            <label for="orange" style="background-color:orange"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#ff4300">
                            <label for="#ff4300" style="background-color:#ff4300"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#ffde10">
                            <label for="#ffde10" style="background-color:#8a2be2"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#32cd32">
                            <label for="#32cd32" style="background-color:#32cd32"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#9acd32">
                            <label for="#9acd32" style="background-color:#9acd32"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="green">
                            <label for="green" style="background-color:green"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#5f9ea0">
                            <label for="#5f9ea0" style="background-color:#5f9ea0"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#00bfff">
                            <label for="#00bfff" style="background-color:#00bfff"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="darkblue">
                            <label for="darkblue" style="background-color:darkblue"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#483d8b">
                            <label for="#483d8b" style="background-color:#483d8b"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#7b68ee">
                            <label for="#7b68ee" style="background-color:#7b68ee"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#8a2be2">
                            <label for="#8a2be2" style="background-color:#8a2be2"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#ff1493">
                            <label for="#ff1493" style="background-color:#ff1493"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="brown">
                            <label for="brown" style="background-color:brown"></label>
                        </li>
                        <li>
                            <input type="radio" name="color" id="#8b4513">
                            <label for="#8b4513" style="background-color:#8b4513"></label>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/-->
            <!--Widget-->
            <!-- <div class="widget widget-price">
                        <div class="widget-head">
                            <h3>Price</h3>
                            <span class="line"></span>
                        </div>
                        <div class="widget-body">
                            <div class="el-range-slider">
                                <div id="slider-non-linear-step"></div>
                                <ul>
                                    <li data-label="Min">
                                        <span class="label">Min</span>
                                        <input type="text" data-value="0" value="0" name="price[min]" data-range="0" class="js-slider-range-from disabled example-val" id="skip-value-lower" disabled="disabled">
                                    </li>
                                    <li data-label="Max">
                                        <span class="label">Max</span>
                                        <input type="text" data-value="300" value="300" name="price[max]" data-range="300" class="js-slider-range-to disabled example-val" id="skip-value-upper" disabled="disabled">
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div> -->
            <!--/-->
        </aside>
        <!--Filter Products Button-->
        <button type="button" class="button button-circle button-circle-lg button-primary" id="button-display-filter-products">
            <i class="ti-filter"></i>
        </button>
        <!--/-->
    </div>
    <!--/-->