<!--Sidebar-->
<aside class="${props.class}">
    <!--Widget-->
    <div class="el-panel el-panel-teacher-info">
        <div class="el-panel-body">
            <div class="el-panel-title">
                <h3>Quick Access</h3>
            </div>
            <ul class="el-list">
                <li>
                    <a href="page-faq.html">
                        <span class="text">FAQ</span>
                    </a>
                </li>
                <li>
                    <a href="page-policy.html">
                        <span class="text">Policy</span>
                    </a>
                </li>
                <li>
                    <a href="page-about.html">
                        <span class="text">About us</span>
                    </a>
                </li>
                <li>
                    <a href="page-contact.html">
                        <span class="text">Contact us</span>
                    </a>
                </li>
                <li>
                    <a href="page-team.html">
                        <span class="text">Meet Our Team</span>
                    </a>
                </li>
                <li>
                    <a href="blog-2.html">
                        <span class="text">Latests posts</span>
                    </a>
                </li>
                <li>
                    <a href="404.html">
                        <span class="text">Page Not Found</span>
                    </a>
                </li>
                <li>
                    <a href="sign-in.html">
                        <span class="text">Login/Register Page</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!--/-->
</aside>
<!--/-->