<!--Footer-->
<footer class="app-footer app-footer-0 app-footer-4 ${props.class}">
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-3">
                    <div class="el-select-languages">
                        <img src="assets/images/flags/uk.svg" alt="--Alternative--">
                        <span class="text">English</span>
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div>
                <div class="hidden-lg-down col-lg-6">
                    <ul class="menu">
                        <li>
                            <a href="home-1.html">
                                <span class="text">Home</span>
                            </a>
                        </li>
                        <li>
                            <a href="shop-special-1.html">
                                <span class="text">Best Sales</span>
                            </a>
                        </li>
                        <li>
                            <a href="sign-up.html">
                                <span class="text">Logn/Register</span>
                            </a>
                        </li>
                        <li>
                            <a href="page-about.html">
                                <span class="text">About Us</span>
                            </a>
                        </li>
                        <li>
                            <a href="page-contact.html">
                                <span class="text">Contact Us</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-3 text-right">
                    <p>© 2020 All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/-->
${require('./_html.html') src="custom"}