<!--Footer-->
    <footer class="app-footer app-footer-1">
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="el-select-languages">
                            <img src="assets/images/flags/uk.svg" alt="--Alternative--">
                            <span class="text">English</span>
                            <i class="fa fa-angle-down"></i>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        ${require('../header/_menu.html')}
                    </div>
                    <div class="col-lg-3">
                        <p>© 2020 All rights reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/-->
${require('./_html.html')}