/*------------------------------------
    Elements
------------------------------------*/

/*------------------------------------
    Element: Stars 
------------------------------------*/

.el-stars {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
    }
}

/*------------------------------------
    Element: Social 
------------------------------------*/

.el-social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        width: 36px;
        height: 36px;
        color: $base-0;
        line-height: 39px;
        text-align: center;
        border-radius: $default-br;
        a {
            display: block;
        }
    }
    &.side {
        li {
            display: inline-block;
            margin-left: 1px;
            margin-right: 1px;
        }
    }
    &.block {
        li {
            display: block;
            margin-bottom: 6px;
        }
    }
}

/*------------------------------------
    Element: Menu 
------------------------------------*/

.el-menu {
    top: 0;
    left: 0;
    float: left;
    padding: 0 36px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    li {
        display: inline-block;
        a {
            display: block;
            font-weight: 700;
            line-height: 87px;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

/*------------------------------------
    Element: Heading 
------------------------------------*/

.el-heading {
    @extend .mb-space-half;
    p {
        font-size: 16px;
        margin: 15px 0 0;
    }
    h2,
    h3 {
        font-size: 27px;
        font-weight: 600;
        line-height: 1;
        margin: 0;
    }
    .label {
        display: block;
        color: $primary;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 9px;
    }

    &.center {
        &,
        p {
            text-align: center;
        }
    }
}

/*------------------------------------
    Element: Tabs
------------------------------------*/

.el-data-filters {
    overflow: hidden;
    position: relative;
    .el-data-filters-links {
        ul {
            list-style: none;
            user-select: none;
            text-align: center;
            white-space: nowrap;
            padding: 0;
            margin: 0 0 30px;
            li {
                color: $text-color;
                cursor: pointer;
                font-weight: 600;
                display: inline-block;
                position: relative;
                padding: 9px 15px;
                &.active {
                    color: var(--primary);
                    cursor: inherit;
                    border-color: var(--primary);
                }
            }
        }
    }
    .el-data-filters-content {
        min-height: 300px;
        ul {
            list-style: none;
            padding: 0;
        }
    }
}

/*------------------------------------
    Element: Card
------------------------------------*/

.el-card {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: $default-br;
    .image {
        position: relative;
    }
    .details {
        position: relative;
    }
}

// Card-Blog
.el-card-blog {
    &.el-card-blog-1 {
        border: 1px solid $gray;
        background-color: $base-0;
        .stats {
            list-style: none;
            position: absolute;
            padding: 0;
            margin: 0;
            li {
                font-size: 12px;
                display: inline-block;
                margin-left: 9px;
                .icon {
                    top: 1px;
                    position: relative;
                }
            }
        }
        .image {
            overflow: hidden;
            padding-top: 57%;
            img {
                top: 0;
                left: 0;
                width: 100%;
                position: absolute;
            }
            .stats {
                right: 20px;
                bottom: 9px;
                color: $base-0;
                z-index: 12;
                font-size: 14px;
            }
            .button-read-more {
                left: 20px;
                bottom: 6px;
                color: $base-0;
                z-index: 12;
                position: absolute;
                border: none;
            }
            &:after {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
                content: "";
                opacity: 0.1;
                position: absolute;
                background: -webkit-linear-gradient(30deg, #151515, transparent);
                background: linear-gradient(30deg, #151515, transparent);
            }
        }
        .details {
            padding: 20px;
            text-align: left;
            p {
                text-align: left;
                margin-bottom: 0;
            }
            h3 {
                font-size: 16px;
                line-height: 1.5;
                text-align: left;
                margin-bottom: 20px;
            }
            .stats {
                right: 20px;
                bottom: 18px;
            }
        }
    }
}

// Card-Product
.el-card-product {
    &.el-card-product-1 {
        border: 1px solid $gray;
        background-color: $base-0;
        .image {
            width: 60%;
            padding-top: 60%;
            text-align: center;
            position: relative;
            margin: 30px auto 0;
            img {
                top: 0;
                left: 0;
                width: 100%;
                margin: auto;
                position: absolute;
            }
        }
        .details {
            padding: 30px 20px;
            h3 {
                font-size: 16px;
                line-height: 1.5;
                text-align: left;
                margin-bottom: 20px;
            }
            .price {
                left: 20px;
                bottom: 15px;
                display: block;
                font-weight: 600;
                position: absolute;
                margin-bottom: 0;
                .old-price {
                    opacity: 0.6;
                    margin-right: 9px;
                    text-decoration: line-through;
                }
                .new-price {
                    color: $danger;
                }
            }
            .el-stars {
                right: 20px;
                bottom: 12px;
                color: $text-color;
                position: absolute;
            }
        }
        .labels {
            top: 12px;
            list-style: none;
            position: absolute;
            padding: 0;
            margin: 0;
            li {
                display: block;
                .label {
                    display: block;
                    color: $base-0;
                    font-size: 12px;
                    font-weight: 600;
                    text-align: center;
                    position: relative;
                    &.label-off {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 50%;
                        &:after {
                            content: "%";
                            font-size: 10px;
                            padding-left: 1px;
                        }
                    }
                    &.label-text {
                        min-width: 39px;
                        padding: 0 6px 1px;
                        border-radius: 6px;
                    }
                    &.label-icon {
                        color: $text-color;
                        font-size: 16px;
                        font-weight: 300;
                        padding-right: 4px;
                        &:hover {
                            color: $base-1;
                        }
                    }
                }
            }
            &.labels-left {
                left: 12px;
            }
            &.labels-right {
                top: 10px;
                right: 12px;
            }
        }
    }
}

/*------------------------------------
    Element: Slider
------------------------------------*/

.el-slider {
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    .el-swiper-multirow {
        width: 100%;
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            height: calc((100% - 30px) / 2);
            display: -webkit-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            -webkit-justify-content: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            -webkit-align-items: center;
            align-items: center;
        }
        &.el-swiper-category-3 {
            height: 300px;
            margin-bottom: -12px;
        }
    }
    // Navigation
    .el-slider-prev,
    .el-slider-next {
        top: -96px;
        left: inherit;
        width: 39px;
        height: 39px;
        z-index: 999;
        color: $text-color;
        cursor: pointer;
        display: block;
        font-size: 18px;
        font-weight: 700;
        line-height: 39px;
        text-align: center;
        position: absolute;
        border-radius: 50%;
        background-color: #f4f4f4;
        outline: 0 !important;
        &.el-slider-prev {
            right: 45px !important;
        }
        &.el-slider-next {
            right: 0 !important;
        }
    }
    .swiper-slide {
        /* Center slide text vertically */
        // display: -webkit-box;
        // display: -ms-flexbox;
        // display: -webkit-flex;
        // display: flex;
        // -webkit-box-pack: center;
        // -ms-flex-pack: center;
        // -webkit-justify-content: center;
        // justify-content: center;
        // -webkit-box-align: center;
        // -ms-flex-align: center;
        // -webkit-align-items: center;
        // align-items: center;

        // background-position: center;
        // background-size: cover;
    }
}

.el-slider-product-image {
    position: relative;
    .el-swiper-dots {
        z-index: 99999;
        position: absolute;
        .el-swiper-pagination-image {
            width: 60px;
            height: 60px;
            margin: 3px;
            opacity: 0.9;
            overflow: hidden;
            border: 3px solid #ccc;
            border-radius: $default-br;
            &.swiper-pagination-bullet-active {
                opacity: 1;
                border-color: $primary;
            }
        }
    }
    &.el-slider-product-image-1 {
        .el-swiper-dots {
            left: 0;
            bottom: 0;
            text-align: center;
            padding-bottom: 15px;
            .el-swiper-pagination-image {
                box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.6);
            }
        }
    }
    &.el-slider-product-image-2 {
        .el-product-image {
            float: right;
            width: calc(100% - 75px);
            padding-top: calc(100% - 75px) !important;
        }
        .el-swiper-dots {
            top: 0;
            left: 0;
            padding-bottom: 15px;
            .el-swiper-pagination-image {
                display: block;
                margin-bottom: 9px;
            }
        }
    }
}

/*------------------------------------
    Element: Progress Bar
------------------------------------*/

.el-progress-item {
    overflow: hidden;
    &:not(:last-child) {
        margin-bottom: 20px;
    }
    span {
        color: $base-1;
        display: inline-block;
        font-size: 15px;
        font-weight: 700;
        position: relative;
        margin: 0 0 12px;
        &.progress-count {
            float: right;
        }
    }
    .progress {
        height: 1rem;
        display: -ms-flexbox;
        display: flex;
        overflow: hidden;
        font-size: 0.75rem;
        border-radius: $default-br;
        background-color: $gray;
        div {
            background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
            background-size: 1rem 1rem;
        }
    }
}

/*------------------------------------
    Element: Languages 
------------------------------------*/

.el-select-languages {
    cursor: pointer;
    position: relative;
    img {
        width: 18px;
        display: inline-block;
        margin-right: 6px;
    }
    .text {
        top: 2px;
        position: relative;
        margin-right: 3px;
    }
    i {
        top: 3px;
        position: relative;
    }
}

/*------------------------------------
Preloader
------------------------------------*/

.preloader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    position: fixed;
    background: var(--base-0);
}
.preloader .preloader-inner {
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    position: absolute;
    transform: translate(-50%, -50%);
}
/* 
* Preloader - Style 1
*/
.preloader-1 {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.preloader-1:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid var(--primary);
    border-color: var(--primary) transparent var(--primary) transparent;
    animation: preloader-1 1.2s infinite;
}
/* 
* Preloader - Style 2
*/
.preloader-2 {
    display: inline-block;
    transform: translateZ(1px);
}
.preloader-2 > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    background: var(--primary);
    animation: preloader-2 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
/* 
* Preloader - Style 3
*/
.preloader-3 {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.preloader-3 div {
    transform-origin: 40px 40px;
    animation: preloader-3 1.2s linear infinite;
}
.preloader-3 div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: var(--primary);
}
.preloader-3 div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.preloader-3 div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.preloader-3 div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.preloader-3 div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.preloader-3 div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.preloader-3 div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.preloader-3 div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.preloader-3 div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.preloader-3 div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.preloader-3 div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.preloader-3 div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.preloader-3 div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
/* 
* Preloader - Style 4
*/
.preloader-4 {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.preloader-4:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid var(--primary);
    border-color: var(--primary) transparent var(--primary) transparent;
    animation: preloader-4 1.2s linear infinite;
}
/* 
* Preloader - Style 5
*/
.preloader-5 {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.preloader-5 div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid var(--primary);
    border-radius: 50%;
    animation: preloader-5 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary) transparent transparent transparent;
}
.preloader-5 div:nth-child(1) {
    animation-delay: -0.45s;
}
.preloader-5 div:nth-child(2) {
    animation-delay: -0.3s;
}
.preloader-5 div:nth-child(3) {
    animation-delay: -0.15s;
}
/* 
* Preloader - Style 6
*/
.preloader-6 {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.preloader-6 div {
    animation: preloader-6 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.preloader-6 div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: var(--primary);
    margin: -4px 0 0 -4px;
}
.preloader-6 div:nth-child(1) {
    animation-delay: -0.036s;
}
.preloader-6 div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.preloader-6 div:nth-child(2) {
    animation-delay: -0.072s;
}
.preloader-6 div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.preloader-6 div:nth-child(3) {
    animation-delay: -0.108s;
}
.preloader-6 div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.preloader-6 div:nth-child(4) {
    animation-delay: -0.144s;
}
.preloader-6 div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.preloader-6 div:nth-child(5) {
    animation-delay: -0.18s;
}
.preloader-6 div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.preloader-6 div:nth-child(6) {
    animation-delay: -0.216s;
}
.preloader-6 div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.preloader-6 div:nth-child(7) {
    animation-delay: -0.252s;
}
.preloader-6 div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.preloader-6 div:nth-child(8) {
    animation-delay: -0.288s;
}
.preloader-6 div:nth-child(8):after {
    top: 56px;
    left: 12px;
}

/*------------------------------------
    Element: Tabs
------------------------------------*/

.el-tabs {
    overflow: hidden;
    position: relative;
    .el-tabs-links {
        ul {
            list-style: none;
            user-select: none;
            white-space: nowrap;
            border-bottom: 1px solid #ccc;
            padding: 0;
            margin: 0;
            li {
                bottom: -4px;
                height: 60px;
                color: $text-color;
                cursor: pointer;
                display: inline-block;
                font-weight: 700;
                position: relative;
                padding: 0 30px;
                line-height: 60px;
                border-bottom: 4px solid transparent;
                &.active {
                    color: $primary;
                    cursor: inherit;
                    border-color: $primary;
                }
            }
        }
        &.el-tabs-links-1 {
            ul {
                li {
                    bottom: 0;
                    height: 45px;
                    line-height: 45px;
                    background-color: $gray;
                    &.active {
                        color: $base-0;
                        background-color: $primary;
                    }
                }
            }
        }
        &.el-tabs-links-2 {
            ul {
                li {
                    bottom: 0;
                    height: 36px;
                    line-height: 1;
                    &.active {
                        color: $primary;
                    }
                }
            }
        }
    }
    .el-tabs-content {
        & > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            & > li {
                padding: 30px;
                padding-top: 45px;
                p {
                    text-align: justify;
                }
                h2,
                h3,
                h4 {
                    font-size: 24px;
                    margin-bottom: 39px;
                }
                img {
                    width: 100%;
                }
                form {
                    padding-left: 15px;
                }
                &:not(.active) {
                    display: none;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .el-tabs {
        .el-tabs-links {
            ul {
                li {
                    font-size: 12px;
                    padding: 0 15px;
                }
            }
        }
        .el-tabs-content {
            & > ul {
                list-style: none;
                padding: 0;
                margin: 0;
                & > li {
                    padding-left: 15px;
                    padding-right: 15px;
                    h2,
                    h3,
                    h4 {
                        font-size: 14px;
                    }
                }
            }
            form {
                margin-bottom: 45px;
            }
        }
    }
}

/*------------------------------------
    Table
------------------------------------*/

.el-table {
    width: 100%;
    display: block;
    margin: 0;
    tbody {
        width: 100%;
        display: block;
        margin: 0;
        tr {
            width: 100%;
            height: 45px;
            display: block;
            margin-bottom: 6px;
            td {
                color: #333;
                display: inline-block;
                overflow: hidden;
                line-height: 45px;
                white-space: nowrap;
                &.specname {
                    width: 20%;
                    padding: 0 15px;
                    margin-left: 1%;
                }
                &.specvalue {
                    width: 78%;
                    padding: 0 15px;
                }
            }
            &:nth-child(odd) {
                td {
                    background: #f7f7f7;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .el-table {
        tbody {
            tr {
                height: 90px;
                td {
                    width: 100% !important;
                    display: block;
                    &.specvalue {
                        color: $primary;
                    }
                }
            }
        }
    }
}

.el-table-order {
    margin: 0 0 24px;
    span {
        &.cnt {
            font-weight: 700;
            margin-right: 6px;
        }
        &.var {
            white-space: nowrap;
        }
        &.val {
            display: block;
            text-align: right;
        }
    }
    & > ul {
        list-style: none;
        padding: 0;
        & > li {
            display: block;
            padding: 9px 0;
            & > ul {
                opacity: 0.6;
                list-style: none;
                padding-top: 15px;
                padding-left: 15px;
                padding-bottom: 15px;
                margin: 0;
            }
            &:not(:last-child) {
                border-bottom: 1px solid $gray;
            }
        }
    }
    &.el-table-order-1 {
        padding: 12px 25px;
        background-color: #f6f6f6;
    }
}

.el-table-shopping-cart {
    &.el-table-shopping-cart-1 {
        & > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            & > li {
                overflow: hidden;
                position: relative;
                padding-top: 9px;
                .item-details {
                    height: 150px;
                    position: relative;
                    padding-left: 180px;
                    h3 {
                        line-height: 1.5;
                        margin-bottom: 15px;
                    }
                    ul {
                        list-style: none;
                        border-left: 6px solid $gray;
                        padding-left: 15px;
                        margin: 0;
                        li {
                            display: block;
                            .var {
                                font-weight: bold;
                            }
                        }
                    }
                    .image {
                        top: 0;
                        left: 0;
                        width: 150px;
                        position: absolute;
                        img {
                            width: 150px;
                            height: 150px;
                        }
                    }
                }
                .item-trash {
                    top: 9px;
                    left: 0;
                    width: 36px;
                    height: 36px;
                    color: $danger;
                    cursor: pointer;
                    z-index: 9;
                    opacity: 0;
                    font-size: 18px;
                    text-align: center;
                    line-height: 36px;
                    position: absolute;
                    border-radius: 50%;
                    transform: translate(0, -30px);
                    transition: all 600ms;
                    img {
                        width: 16px !important;
                        height: 16px !important;
                    }
                    &:hover {
                        color: $base-0;
                        background-color: $danger;
                    }
                }
                &:hover {
                    .item-trash {
                        opacity: 1;
                        transform: translate(0, 0);
                    }
                }
                &:not(:last-child) {
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid $gray;
                }
            }
        }
    }
}

/*------------------------------------
    Counter
------------------------------------*/

.el-counter {
    overflow: hidden;
    position: relative;
    &.el-counter-3,
    &.el-counter-4 {
        height: 45px;
        line-height: 45px;
        text-align: center;
        margin-right: 6px;
        border-radius: $default-br;
        background-color: $gray;
        input {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
            outline: 0;
            position: absolute;
            text-align: center;
        }
        .button {
            top: 1px;
            width: 30px;
            height: 30px;
            color: #666;
            z-index: 3;
            font-size: 9px;
            font-weight: 100;
            line-height: 30px;
            text-align: center;
            position: absolute;
            border-radius: 50%;
            border: 0;
            background-color: rgba(204, 204, 204, 0.1);
            margin: 7px 1px 0;
            &.button-plus {
                right: 15px;
            }
            &.button-minus {
                left: 15px;
            }
        }
    }
    &.el-counter-4 {
        background-color: $base-1 !important;
        input {
            color: $base-0;
        }
        .button {
            color: $base-0;
            background-color: $base-1;
            &.button-plus {
                right: 6px;
            }
            &.button-minus {
                left: 6px;
            }
        }
    }
    &.el-counter-6 {
        width: 96px;
        height: 36px;
        padding-right: 6px;
        border-radius: 36px;
        background-color: $gray;
        input {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
            outline: 0;
            font-size: 12px;
            position: absolute;
            padding-top: 0;
            padding-left: 18px;
            background: transparent;
        }
        .button {
            width: 21px;
            height: 21px;
            color: #aaa;
            float: right;
            font-size: 9px;
            line-height: 21px;
            text-align: center;
            border-radius: 50%;
            border: 0;
            background-color: #fff;
            margin: 7px 1px 0;
        }
    }
}

/*------------------------------------
    Element: Comments
------------------------------------*/

.el-comments {
    color: $text-color;
    overflow: hidden;
    position: relative;
    & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        & > li {
            display: block;
            position: relative;
            margin-bottom: 30px;
            .el-comments-avatar {
                top: 6px;
                left: 6px;
                width: 90px;
                height: 90px;
                overflow: hidden;
                position: absolute;
                border-radius: 50%;
                margin-bottom: 9px;
                img {
                    width: 100%;
                }
                span {
                    color: $base-1;
                    text-align: center;
                    white-space: nowrap;
                    margin: auto;
                }
            }
            .el-comments-content {
                padding-right: 15px;
                padding-left: 114px;
                p {
                    text-align: justify;
                    margin-bottom: 12px;
                }
                .reply {
                    right: 15px;
                    bottom: 15px;
                    position: absolute;
                    &:hover {
                        color: $primary;
                    }
                }
                .el-comments-info {
                    margin-bottom: 15px;
                    .el-comments-author {
                        color: $base-1;
                        font-size: 16px;
                    }
                }
            }
            &:not(:last-child) {
                padding-bottom: 15px;
                border-bottom: 1px solid $gray;
            }
        }
    }
}

@media (max-width: 992px) {
    .el-comments {
        & > ul {
            & > li {
                .el-comments-avatar {
                    width: 45px;
                    height: 45px;
                }
                .el-comments-author {
                    top: 15px;
                    right: 75px;
                    position: absolute;
                }
                .el-comments-date,
                .el-comments-content {
                    padding: 0;
                }
            }
        }
    }
}

/*------------------------------------
    Product Price
------------------------------------*/

.el-math-product-price {
    width: 290px;
    height: 120px;
    overflow: hidden;
    padding-top: 15px;
    .var {
        color: $text-color;
        display: block;
        font-size: 12px;
        text-align: center;
        margin-bottom: 36px;
    }
    .item-price,
    .item-total {
        width: 75px;
        text-align: center;
        .val {
            display: block;
            padding-top: 4px;
        }
    }
    .item-price,
    .item-total,
    .item-quantity {
        float: right;
    }
    .item-quantity {
        margin-right: 12px;
    }
    .el-counter {
        margin-left: 15px;
    }
}

@media (max-width: 992px) {
    .el-math-product-price {
        margin: auto;
    }
}
