/*------------------------------------
    Element: Theme Preview
------------------------------------*/

.section-theme-preview {
    background-color: $base-0;
    .el-item {
        text-align: center;
        border-radius: $default-br;
        border: 1px solid $gray;
        .image {
            overflow: hidden;
            position: relative;
            padding-top: 60%;
            background-color: orange;
            .el-label {
                top: 12px;
                right: 12px;
                position: absolute;
            }
        }
        .detail {
            padding: 20px;
            h3 {
                font-size: 18px;
                line-height: 1;
                margin-bottom: 0;
                a {
                    display: block;
                }
            }
        }
    }
}