/*------------------------------------
    Section
------------------------------------*/

.section {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    .display-cente {
        z-index: 6;
    }
    .display-spacing {
        z-index: 6;
        position: relative;
    }
    .section-shape {
        z-index: 1;
        &.shape-1 {
            top: -6%;
            left: -1%;
            width: 400px;
            position: absolute;
        }
        &.shape-2 {
            top: -30%;
            right: 0;
            width: 400px;
            opacity: 0.3;
            position: absolute;
        }
        &.shape-3 {
            top: 0;
            left: 0;
            width: 50%;
            position: absolute;
        }
    }
    &.section-wave {
        &.section-wave-1 {
            &:after {
                right: 0;
                bottom: -54px;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-1.png") bottom center / cover;
            }
        }
        // &.section-wave-2 {
        //     &:after {
        //         right: 0;
        //         bottom: -150px;
        //         width: 100%;
        //         height: 100%;
        //         content: "";
        //         position: absolute;
        //         background: no-repeat url("../images/shapes/wave-2.png") bottom center / cover;
        //     }
        // }
        &.section-wave-2 {
            &:after {
                right: 0;
                bottom: -93px;
                width: 100%;
                height: 160px;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-2.png") bottom center / cover;
            }
        }
        &.section-wave-3 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 45%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-3.png") bottom center / cover;
            }
        }
        &.section-wave-4 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 45%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-4.png") bottom center / cover;
            }
        }
        &.section-wave-5 {
            &:after {
                right: 0;
                bottom: -45px;
                width: 100%;
                height: 45%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-5.png") bottom center / cover;
            }
        }
        &.section-wave-6 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 30px;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-6.png") bottom center / contain;
            }
        }
        &.section-wave-7 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                height: 15px;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-7.png") bottom center / contain;
            }
        }
        &.section-wave-8 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-8.png") bottom center / contain;
            }
        }
        &.section-wave-9 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-9.svg") bottom center / contain;
            }
        }
        &.section-wave-10 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-10.png") bottom center / contain;
            }
        }
        &.section-wave-11 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 30px;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-11.png") bottom center / contain;
            }
        }
    }
}

/*------------------------------------
    Section: Call to Action
------------------------------------*/

.section-cta {
    &.section-cta-1 {
        height: 390px;
        background-color: $gray;
    }
    &.section-cta-4 {
        height: 100px;
        background-color: $gray;
    }
    &.section-cta-6 {
        .el-item {
            padding: 60px 45px;
            background-color: $gray;
            span {
                display: block;
                line-height: 1;
                &.title {
                    font-size: 24px;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                &.subtitle {
                    color: $primary;
                    font-size: 24px;
                }
            }
        }
    }
    &.section-cta-7 {
        height: 600px;
    }
}

/*------------------------------------
    Section: Default Page
------------------------------------*/

.section-page {
    .page-head {
        height: 354px;
        overflow: hidden;
        position: relative;
        padding-top: 114px;
        background-color: $gray;
        .page-head-inner {
            height: 100%;
            position: relative;
            .page-head-content {
                @extend .text-center;
                @extend .display-center;
                h1 {
                    line-height: 1.5;
                    padding: 0 0 9px;
                    margin: 0;
                }
            }
        }
    }
}

/*------------------------------------
    Section: Product Details
------------------------------------*/

.section-product-detail {
    &.section-product-detail-1 {
        .product-images {
            position: relative;
            .icons {
                top: 15px;
                z-index: 999;
                list-style: none;
                position: absolute;
                padding: 0;
                &.icons-left {
                    left: 15px;
                    .icon {
                        color: $base-0;
                        z-index: 9999;
                        font-weight: 700;
                        text-align: center;
                        margin-bottom: 15px;
                        box-shadow: 0 3px 12px 0 rgba(0,0,0,.3);
                        &.icon-1 {
                            width: 60px;
                            height: 60px;
                            line-height: 57px;
                            border-radius: 50%;
                            background-color: $warning;
                        }
                    }
                }
            }
            .el-product-image {
                overflow: hidden;
                position: relative;
                padding-top: 100%;
                border-radius: $default-br;
                img {
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: auto;
                    position: absolute;
                }
            }
        }
        .product-detail {
            p {
                text-align: justify;
                margin-bottom: 20px;
            }
            h1 {
                font-size: 30px;
            }
            .score {
                color: $text-color;
                margin-bottom: 15px;
                .el-stars {
                    margin-right: 15px;
                    .fa-star {
                        color: $warning;
                    }
                }
            }
            .price {
                color: $primary;
                font-size: 24px;
                margin-bottom: 12px;
                .title {
                    color: $text-color;
                    margin-right: 15px;
                }
                .old-price {
                    color: $text-color;
                    margin-right: 15px;
                    text-decoration: line-through;
                }
            }
            .product-table {
                margin-bottom: 40px;
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        height: 45px;
                        display: block;
                        line-height: 45px;
                        &:not(:last-child) {
                            border-bottom: 1px solid $gray;
                        }
                        span {
                            width: 50%;
                            display: inline-block;
                            &.var {
                                float: left;
                                font-weight: bold;
                                &:after {
                                    content: ":";
                                    padding-right: 2px;
                                }
                            }
                            &.val {
                                float: right;
                                color: $text-color;
                                text-align: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
