/*------------------------------------
    Section: Hero
------------------------------------*/
/*------------------------------------
    Section: Hero
------------------------------------*/

.section-hero {
    .hero-content {
        width: 576px;
        margin: auto;
    }

    &.section-hero-1 {
        height: 100vh;
        background-color: $primary;
    }
}
